<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- 引入样式 -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
</head>
<body>
  <div id="app">
		<!-- 新建表单 -->
		<el-row>
		  <el-col :span="8" :offset="8">
				<el-form :inline="true" :model="newForm" class="demo-form-inline">
					<el-row>
					  <el-col :span="12">
							<el-form-item label="标题">
								<el-input
								autosize
								v-model="newForm.title"
								placeholder="请输入标题"
								type="textarea"
								></el-input>
							</el-form-item>
						</el-col>
					  <el-col :span="12">
							<el-form-item label="详情">
								<el-input
								autosize
								v-model="newForm.detail"
								placeholder="请输入详细信息"
								type="textarea"
								@keyup.enter.native="add"
								></el-input>
							</el-form-item>
						</el-col>
					</el-row>
				</el-form
			</el-col>
			<el-input v-model="searchForm.key" @change="search" placeholder="请输入内容"></el-input>
		</el-row>

    <el-table
      v-if="list.length > 0"
      :data="list"
      style="width: 100%">
      <el-table-column
        prop="title"
        label="标题">
      </el-table-column>
      <el-table-column
        label="详情">
        <template scope="scope">
          <pre>{{scope.row.detail}}</pre>
        </template>
      </el-table-column>
    </el-table>
  </div>
</body>
  <!-- 先引入 Vue -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <!-- axios -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/js/api.js"></script>
  <script src="/js/index.js"></script>
</html>
